#import /init.recovery.usb.configfs.rc
import /init.recovery.cali.rc
							
on init
    start healthd

    chown system root /proc/cpwcn/wdtirq	
    chmod 766 /proc/cpwcn/wdtirq

on fs
    mkdir /data/misc/bluedroid 0770 bluetooth net_bt_stack
    mkdir /data/misc/bluetooth 0770 system system
    
    mkdir /data/misc/bluedroid 0770 bluetooth net_bt_stack
    mkdir /data/misc/bluetooth 0770 system system
    copy /system/etc/bluetooth/bt_stack.conf /data/misc/bluedroid/bt_stack.conf
    chown bluetooth system /data/misc/bluedroid/bt_stack.conf
    chmod 0640 /data/misc/bluedroid/bt_stack.conf

    chmod 666 /sys/module/shub_core/parameters/gryo_firms
    chmod 666 /sys/module/shub_core/parameters/acc_firms
    chmod 666 /sys/module/shub_core/parameters/mag_firms
    chmod 666 /sys/module/shub_core/parameters/pressure_firms
    chmod 666 /sys/module/shub_core/parameters/light_firms
    chmod 666 /sys/module/shub_core/parameters/prox_firms
    chmod 666 /sys/module/firmware_class/parameters/path
    chmod 666 /sys/module/shub_core/parameters/sensor_fusion_mode

    # Ylog dir on /data partition
    mkdir /data/vendor 0751 root root
    mkdir /data/vendor/local 0751 root root

    # slogmodem config dir
    mkdir /data/vendor/ylog 0770 shell system
    mkdir /data/vendor/local/slogmodem 0770 shell system
    mkdir /data/vendor/local/mlogservice 0770 shell system
    mkdir /mnt/vendor/sensorhub 0777 system root
    mkdir /mnt/vendor/productinfo 0771 system root
    mkdir /mnt/vendor/productinfo/sensor_calibration_data 0770 system root
    mkdir /data/vendor/local/otpdata 0777 system root
