on post-fs

service gnss_download /vendor/bin/gnss_download
    class cali
    user system
    group system
    oneshot

#service rpmbserver /vendor/bin/rpmbserver -r /dev/block/mmcblk0rpmb
#    class cali
#    socket rpmbserver stream 0666 rpmbserver rpmbserver
#    group system
#    seclabel u:r:tee:s0

service modem_ctl-cali /vendor/bin/modem_control
    class cali
    user root
    group system radio shell
    oneshot

service modem_ctl-ft /vendor/bin/modem_control
    class factorytest
    user root
    group system radio shell
    oneshot

service cp_diskserver /vendor/bin/cp_diskserver
    class cali
    user root
    group root

service wcnd-cali /vendor/bin/connmgr -R
    class cali
    user root
    group root system shell wifi inet net_bt_admin net_bt_stack
    seclabel u:r:wcnd:s0

service wcnd_eng-cali /vendor/bin/connmgr -G
    class cali
    user root
    group root system shell wifi inet bluetooth
    disabled
    oneshot
    seclabel u:r:wcnd:s0

service logd-cali /system/bin/logd
    class cali
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    socket logdylog seqpacket 0666 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    seclabel u:r:logd:s0

service slogmodem /vendor/bin/slogmodem
    user shell
    group system sdcard_rw media_rw root

service console-cali /system/bin/sh
    console
    class cali
    user root
    group root
    seclabel u:r:shell:s0

service engpcclient /vendor/bin/engpc
    class cali
    user root
    group root sdcard_rw

on property:ro.bootmode=cali
    # Enables vser port
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "vser"
    rm /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/vser.gs7 /config/usb_gadget/g1/configs/b.1/f1

    ubiattach 0 ubipac
    mount_all /etc/recovery.fstab
    chown system system /data
    chmod 0771 /data
    mkdir /data/local 0751 root root
    mkdir /data/local/englog 0777 root root
    mkdir /data/local/media 0751 media media
    mkdir /data/local/slogmodem 0770 shell system
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluedroid 0770 system system
    insmod /lib/modules/mali.ko
    insmod /lib/modules/trout_fm.ko
    insmod /lib/modules/bcmdhd.ko
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chown system system /data/gnss/bin/gnssmodem.bin
    chown system system /data/gnss/config/config.xml
    chown system system /data/gnss/supl/supl.xml
    chown system system /data/gnss/supl/spirentroot.cer
    chown system system /data/gnss/lte/ext.eph
    chown system system /data/gnss/lte/jpleph.405
    chown system system /data/gnss/lte/raw.obs
    chown system system /data/gnss/gnss.log
    chown system system /data/gnss/nmea.log
    chown system system /productinfo/tsx.dat
    chown system system /productinfo/txdata.txt
    chown system system /data/gnss/FlashCfg.cg
    chown system system /sys/class/misc/gnss_common_ctl/gnss_power_enable
    chown system system /sys/class/misc/gnss_common_ctl/gnss_dump
    chown system system /sys/class/misc/gnss_common_ctl/gnss_subsys
    chown system system /dev/gnss_pmnotify_ctl
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 666 /data/gnss/supl/supl.xml
    chmod 666 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/lte/raw.obs
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt
    chmod 666 /data/gnss/FlashCfg.cg
    chmod  220 /sys/class/misc/gnss_common_ctl/gnss_power_enable
    chmod 660 /sys/class/misc/gnss_common_ctl/gnss_dump
    chmod 660 /sys/class/misc/gnss_common_ctl/gnss_subsys
    chmod 660  /dev/gnss_pmnotify_ctl

    chown system system /dev/iio:device1
    chown system system /sys/bus/iio/devices/trigger0/name
    chown system system /sys/bus/iio/devices/iio:device1/buffer
    chown system system /sys/bus/iio/devices/iio:device1/buffer/length
    chown system system /sys/bus/iio/devices/iio:device1/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chown system system /sys/class/sprd_sensorhub/sensor_hub/iio/trigger/current_trigger
    chown system system /sys/class/sprd_sensorhub/sensor_hub/batch
    chown system system /sys/class/sprd_sensorhub/sensor_hub/logctl
    chown system system /sys/class/sprd_sensorhub/sensor_hub/calibrator_cmd
    chown system system /sys/class/sprd_sensorhub/sensor_hub/calibrator_data
    chown system system /sys/class/sprd_sensorhub/sensor_hub/enable
    chown system system /sys/class/sprd_sensorhub/sensor_hub/flush
    chown system system /sys/class/sprd_sensorhub/sensor_hub/iio
    chown system system /sys/class/sprd_sensorhub/sensor_hub/version
    chown system system /sys/class/sprd_sensorhub/sensor_hub/op_download
    chown system system /sys/class/sprd_sensorhub/sensor_hub/mag_cali_flag
    chown system system /sys/class/sprd_sensorhub/sensor_hub/sensorhub

    chmod 666 /sys/bus/iio/devices/trigger0/name
    chmod 666 /sys/bus/iio/devices/iio:device1/buffer/length
    chmod 666 /sys/bus/iio/devices/iio:device1/buffer/enable
    chmod 666 /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/iio/trigger/current_trigger
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/batch
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/logctl
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/calibrator_cmd
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/calibrator_data
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/enable
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/flush
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/iio
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/version
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/op_download
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/mag_cali_flag
    chmod 666 /sys/class/sprd_sensorhub/sensor_hub/sensorhub

    mkdir /productinfo/sensor_calibration_data

    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 666 /data/gnss/supl/supl.xml
    chmod 666 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt

    insmod /lib/modules/sprdbt_tty.ko
    start hwservicemanager
    start cp_diskserver
    start slogmodem
    start vendor.mlogservice

on cali
    mkdir /cache/ylog 0777
    start ylog_force_startup

    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt

on factorytest
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt



on property:ro.bootmode=cali
    mkdir /cache/ylog 0777
    start ylog_force_startup
